<header class="bg-swiss-white border-b-2 border-swiss-black sticky top-0 z-50">
    <div class="container mx-auto px-4 h-20 flex items-center justify-between">
        <!-- Brand -->
        <a
            href="/"
            class="flex items-center gap-2 text-swiss-black hover:text-swiss-blue transition-colors group"
        >
            <span
                class="text-3xl font-grotesk font-bold tracking-tighter uppercase group-hover:scale-105 transition-transform duration-300"
                >Calcar.</span
            >
        </a>
    </div>
</header>
